
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <link href="~/Content/paragraph.css" rel="stylesheet" />
</head>
<body>
    <div>
        <img id="div1_img" src="https://t4.ftcdn.net/jpg/06/47/83/31/360_F_647833172_uyz4sreGtQJzni81DBDteU7kuRG07JKR.jpg" />
        <div class="banner-text" style="color:black">
            <h1 style="text-align:center; font-size:50px ">About Us</h1>
            <p style="color: black; text-align: justify; margin: 10px 3px 10px 3px; inline-size: auto; flex-wrap: wrap; font-size: clamp(1rem, 2.5vw, 2rem); ">
                At FurniSpace, we believe in turning houses into homes with furniture that blends style, comfort, and functionality. What started as a small idea has now grown into a platform where customers can find timeless and modern pieces that fit their space and lifestyle.
                Our mission is to provide high-quality furniture that not only enhances interiors but also reflects individuality. Every product we offer is crafted with care, precision, and attention to detail, ensuring durability and design excellence.
            </p>
        </div>
    </div>
    <div id="Ab-h">
        <h3> Explore Our Product</h3>
    </div>
    <div id="Card-Container">
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2024/10/image-9-450x251.png" alt="Imag1" />
            <p>Florida Seater Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/P1290080-01-450x300.jpg" alt="Imag2" />
            <p>Vatican Seater Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Screenshot-2024-12-16-151943.png" alt="Imag3" />
            <p>Ashmore Seater Set</p>
        </div>
    </div>
    <div id="Card-Container">
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Detroit-Patio-Set-448x300.jpg" alt="Imag4" />
            <p>Detroit Patio Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Cocoon-Seater-1-448x300.jpg" alt="Imag5" />
            <p>Cocoon Seater Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Shildon-Seater-Set-448x300.jpg" alt="Imag6" />
            <p>Shildon Seater Set</p>
        </div>
    </div>
    <div id="Card-Container">
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Costa-Brava-Modular-Set-448x300.jpg" alt="Imag7" />
            <p>Costa Brava Modular Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Mimosa-Seater-Set-448x300.jpg" alt="Imag8" />
            <p>Mimosa Seater Set</p>
        </div>
        <div id="card-co">
            <img src="https://ellements.in/wp-content/uploads/2023/07/Ibiza-Seater-Set-1-448x300.jpg" alt="Imag9" />
            <p>Ibiza Seater Set</p>
        </div>
    </div>
    <div>

    </div>


</body>
</html>

