
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <link href="~/Content/paragraph.css" rel="stylesheet" />
</head>
<body>
    <div>
     <img id="div1_img" src="https://t4.ftcdn.net/jpg/06/47/83/31/360_F_647833172_uyz4sreGtQJzni81DBDteU7kuRG07JKR.jpg" />
       <div class="banner-text" style="color:black"><h1 style="text-align:center; font-size:50px ">About Us</h1>
          <p style="color:black; font-size:15px; text-align:justify;margin:10px 3px 10px 3px">
          At FurniSpace, we believe in turning houses into homes with furniture that blends style, comfort, and functionality. What started as a small idea has now grown into a platform where customers can find timeless and modern pieces that fit their space and lifestyle.
          Our mission is to provide high-quality furniture that not only enhances interiors but also reflects individuality. Every product we offer is crafted with care, precision, and attention to detail, ensuring durability and design excellence.
          </p>
        </div>
    </div>
    <div>

    </div>
    

</body>
</html>

