@{
    ViewBag.Title = "Home Page";
}

<html>
<hed>

    <link href="~/Content/paragraph.css" rel="stylesheet" />

</hed>
<body>
    <div>
        <img id="div1_img" alt="image of furniture" src="https://images.pexels.com/photos/271816/pexels-photo-271816.jpeg" />
    </div>
    <div id="divfist">
        <p id="para1">
            Nilkamal’s association with Furniture needs no introduction. Nilkamal is the world’s largest manufacturer of moulded furniture & India’s favourite furniture brand with 50 stores & 3,000+ distributors. Our furniture has eternally been a part of Indian home’s interiors, knowingly or unknowingly taking space in the form of a simple plastic chair in your living room or an entire furniture set in your bedrooms or offices adding both emotion and charm to your sheen interiors.

            Nilkamal’s expertise in wooden Furniture is expanding with a strong network of approximately 20,000+ dealers spread across the country. From the fast-paced metro cities to the deepest regions in India, Nilkamal aims to bring quality and budget friendly furniture to everyone. With plethora of trending yet quality products, Nilkamal has been providing the best furnishing experience to its customers.

            So what are you waiting for? Begin your best furnishing experience with our one-stop-shop only at Nilkamal furniture.

        </p>
    </div>
    <div style="display: flex; width: 100%;" id="row">
        <div  id="column">
            <h3>Modern Furniture</h3> <br />
            <img id="namecard" alt="image of furniture" src="https://moonwooden.in/cdn/shop/products/1_83c8725a-29c0-4a78-829f-6ada4897ec67.jpg?v=1669980694" />
        </div>
        <div  id="column">
            <h3>Woodern Furniture</h3> <br />
            <img id="namecard" alt="image of furniture" src="https://moonwooden.in/cdn/shop/files/lifee022.jpg?v=1697992212" />
        </div>
    </div>

</body>
</html>